.lanyard-wrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: scale(1);
  transform-origin: top center;
  pointer-events: auto;
  touch-action: none;
}

.lanyard-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
}
